*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  /* height: 100vh; */
}

/* Typography and icons */

.title {
  color: #F2EBDC;
  text-align: center;
  margin: 2rem 0 3.5rem;
  text-shadow: 0 0 4px #8C7D74;
}

h2 {
  font-size: 1.125rem;
  text-align: center;
  text-shadow: 0 0 4px #8C7D74;
}

.top-text {
  margin: 2.5em 0 0;
}

.feed-title {
  margin: 2em 0;
}

.user-name p {
  text-shadow: 0 0 4px #8C7D74;
}

.achievement {
  margin-top: 0;
}

.icon-remove {
  font-size: 1rem;
  cursor: pointer;
}

.bottom h4 {
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

/* Layout */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("images/background-image-cloud.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 2.5rem 2.5rem 4.5rem;
}

.view-logged-in {
  display: none;
  flex-direction: column;
  align-items: center;
}

.view-logged-out {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3rem 0 4rem;
}

.type-input, .win-input {
  color: #272728;
  font-size: 1rem;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 0.5em;
}

.wins-feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  margin: 0 0 4.5rem;
}

li {
  color: #272728;
  /* background-color: #EED6D3; */
  background-color: rgba(235, 238, 244, 0.8);
  list-style-type: none;
  width: 100%;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

.newWin {
  display: flex;
  justify-content: space-between;
}

.newWinText {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 2.5em 0 0 0;
}

/* Buttons */

.save-button,
.login-button,
.logout-button {
  font-family: inherit;
  color: #272728;
  font-size: 1rem;
  background-color: whitesmoke;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0 4px #8C7D74;
}

.save-button {
  background-color: #EED6D3;
  font-weight: bold;
  width: 100%;
}

button:hover {
  background-color: #F7EFE2;
}

/* Images */

img {
  height: 100%;
  width: 100%;
}

/* Links */

a {
  color: #6989FA;
}

a:hover, a:active, a:visited {
  color: #B4C4FC;
}

/* Media queries */

/* @media (width >= 600px) */
@media (min-width: 600px) {
    /* Typography and icons */

    .title {
      font-size: 2.5rem;
      text-align: center;
      margin: 2.5rem 0 3.5rem;
    }

    .top-text {
      font-size: 1.25rem;
      margin: 3em 0 0;
    }

    .feed-title {
      font-size: 1.25rem;
      margin: 2.5em 0;
    }

    .icon-remove {
      font-size: 1.125rem;
    }

    .bottom h4 {
      font-size: 1rem;
    }

    /* Layout */

    form {
      max-width: 60%;
    }

    .wins-feed {
      width: 80%;
    }

    li {
      padding: 2.5em;
    }

}
